
.mui-icon-icon:before { content: "\e63b"; }

.mui-icon-iconwosel:before { content: "\e604"; }

.mui-icon-xinwenzixun:before { content: "\e8a6"; }

.mui-icon-shouye:before { content: "\e630"; }

.mui-icon-shipin3:before { content: "\e631"; }
